@font-face {
    font-family: 'Inter';
    src: url(../fonts/Inter-Regular.ttf);
}
@font-face {
    font-family: 'Poppins';
    src: url(../fonts/Poppins-SemiBold.ttf);
}
@font-face {
    font-family: 'Poppins-ExtraBold';
    src: url(../fonts/Poppins-ExtraBold.ttf);
}
@font-face {
    font-family: 'Poppins-Regular';
    src: url(../fonts/Poppins-Regular.ttf);
}
@font-face {
    font-family: 'Manrope-Bold';
    src: url(../fonts/Manrope-Bold.ttf);
}
@font-face {
    font-family: 'Manrope';
    src: url(../fonts/Inter-Regular.ttf);
}

@keyframes burgerAnimation {
    from {opacity: 0}
    to {opacity: 1}
}

.wrapper{
    flex-grow: 1;
}

.open{
    display: flex !important;
}

.burger{
    display: none;
    position: relative;
    z-index: 50;
    align-items: center;
    justify-content: flex-end;
    width: 30px;
    height: 18px;
}

.burger span{
    height: 2px;
    width: 100%;
    transform: scale(1);
    background-color: #282828;
}

.burger::before, .burger::after{
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #282828;
    transition: all 0.3s ease 0s;
}

.burger::before { top: 0 }

.burger::after { bottom: 0 }


/* Добавляем класс active для анимации иконки бургера */
.burger.active span { transform: scale(0) }

.burger.active::before{
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%);
}

.burger.active::after{
    bottom: 50%;
    transform: rotate(45deg) translate(0, 50%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.fixed-container{
    max-width: 80%;
    margin: 0 auto;
}
body{
    color: #676767;
    background-color: #f9f9f9;
    font-family: 'Inter';
}
/*-------------------------*/
header{
    height: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.head-box{
    display: flex;
    justify-content: space-between;
    width: 40%;
}
.head-link{
    color: #606060;
    text-decoration: none;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
}
.login{
    font-weight: bold;
    font-size: 18px;
    margin-right: 35px;
}
.signup{
    color: #f9f9f9;
    background-color: #6C5FBC;
    width: 100px;
    height: 52px;
    border: none;
    font-size: 18px;
    border-radius: 12px;
}
.button-box{
    display: flex;
    align-items: center;
}
.head-hr{
    height: 1px;
    background-color: #CBCBCB;
}
/*--------------------------*/
.main-box{
    box-shadow: 18px 49px 24px 24px rgba(0, 0, 0, 0.06);
    background-color: #fff;
    width: 100%;
    border-radius: 30px;
    margin-top: 50px;
}
.main-img{
    width: 100%;
}
.text-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.rest-box1{
    display: flex;
    align-items: center;
}
.rest-time{
    color: #8E97A6;
    font-family: 'Manrope';
    font-size: 26px;
    padding-right: 10px;
}
.main-title{
    font-size: 40px;
    font-family: 'Poppins';
    color: #323142;
}
/*----------------------*/
h1{
    font-size: 35px;
    color: #323142;
    font-family: 'Poppins';
    margin-top: 80px;
    margin-bottom: 40px;
}
.restaurant-box{
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}
.restaurant{
    background-color: #fff;
    width: 32%;
    border-radius: 35px;
    box-shadow: 18px 49px 24px 24px rgba(0, 0, 0, 0.06);
}
.rest-img{
    width: 100%;
}
.healthy{
    margin-left: 20px;
    width: 65px;
    height: 25px;
    background-color: #F7EDD0;
    border-radius: 5px;
    color: #DAA31A;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
.trending{
    margin-left: 20px;
    width: 65px;
    height: 25px;
    background-color: #F7C5BA;
    border-radius: 5px;
    color: #FB471D;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
.supreme{
    margin-left: 20px;
    width: 65px;
    height: 25px;
    background-color: #33ac646d;
    border-radius: 5px;
    color: #309D5B;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
.rest-title{
    font-family: 'Poppins';
    font-size: 25px;
    margin-left: 20px;
    color: #000;
}
.rest-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 20px 20px;
}
.rest-box1{
    display: flex;
    align-items: center;
}
/*------------Блюда------------*/
.dish-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 70px;
}
.dish-box1{
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    margin-bottom: 70px;
}
.dish{
    width: 18%;
    min-width: 225px;
    background-color: #fff;
    box-shadow: 18px 49px 24px 24px rgba(0, 0, 0, 0.06);
    border-radius: 30px;
}
.dish1{
    width: 18%;
    min-width: 225px;
    background-color: #fff;
    box-shadow: 18px 49px 24px 24px rgba(0, 0, 0, 0.06);
    border-radius: 30px;
    margin-right: 40px;
}
.dish-img{
    width: 100%;
}
.rest-box2{
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-bottom: 10px;
}
.price{
    color: #323142;
    font-size: 25px;
    font-weight: bolder;
}
.span-price{
    color: #8E97A6;
    font-size: 18px;
    font-weight: normal;
}
.heart-img{
    padding-top: 20px;
}
/*------------Ask-box------------*/
span{
    color: #5C4EAE;
}
h2{
    font-family: 'Poppins';
    font-size: 45px;
    color: #323142;
    width: 30%;
    margin: 0 auto;
    text-align: center;
    margin-top: 160px;
    margin-bottom: 60px;
}
.ask-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ask-title{
    font-size: 23px;
    font-family: 'Poppins';
    color: #323142;
}
.ask-hr{
    margin-top: 40px;
    margin-bottom: 40px;
    height: 1px;
    background-color: #ADADAD;
}
/*------Footer--------*/
footer{
    background-color: #EAEAEA;
    margin-top: 90px;
}
.nav-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 20px;
}
.nav{
    display: flex;
    width: 30%;
    justify-content: space-between;
}
.foot-link{
    text-decoration: none;
    color: #999999;
    font-size: 13px;
}
.social-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 60px;
}
.copy{
    font-size: 12px;
    color: #999999;
}
.social{
    display: flex;
    justify-content: space-between;
    width: 15%;
}
.main-text-img000{
    display: none;
}
.ask-img111{
    display: none;
}
.ask-tt{
    display: none;
}
@media (max-width: 1024px) and (min-width:580px) {
    .fixed-container{
        max-width: 90%;
        margin: 0 auto;
    }
    .signup{
        color: #f9f9f9;
        background-color: #6C5FBC;
        width: 86px;
        height: 45px;
        border: none;
        font-size: 12px;
        border-radius: 13px;
    }
    .login{
        font-weight: bold;
        font-size: 13px;
        margin-right: 35px;
    }
    .head-box{
        display: flex;
        justify-content: space-between;
        width: 60%;
    }
    /*----------------------*/
    .rest-title{
        font-family: 'Poppins';
        font-size: 16px;
        margin-left: 10px;
        color: #000;
    }
    .healthy{
        margin-left: 10px;
        width: 52px;
        height: 17px;
        background-color: #F7EDD0;
        border-radius: 5px;
        color: #DAA31A;
        font-size: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
    }
    .trending{
        margin-left: 10px;
        width: 52px;
        height: 17px;
        background-color: #F7C5BA;
        border-radius: 5px;
        color: #FB471D;
        font-size: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
    }
    .supreme{
        margin-left: 10px;
        width: 52px;
        height: 17px;
        background-color: #33ac646d;
        border-radius: 5px;
        color: #309D5B;
        font-size: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
    }
    .dish{
        width: 19%;
        min-width: 160px;
        background-color: #fff;
        box-shadow: 18px 49px 24px 24px rgba(0, 0, 0, 0.06);
        border-radius: 30px;
    }
    .dish1{
        width: 22%;
        min-width: 160px;
    }
    .rest-box2{
        display: flex;
        align-items: center;
        padding-left: 10px;
        padding-bottom: 10px;
    }
    .price{
        color: #323142;
        font-size: 18px;
        font-weight: bolder;
    }
    .span-price{
        color: #8E97A6;
        font-size: 13px;
        font-weight: normal;
    }
    .plus-img{
        width: 30px;
        height: 30px;
    }
    .rest-time{
        font-size: 12px;
    }
    /*--------------------------*/
    h2{
        font-family: 'Poppins';
        font-size: 45px;
        color: #323142;
        width: 50%;
        margin: 0 auto;
        text-align: center;
        margin-top: 60px;
        margin-bottom: 60px;
    }
    .main-text-img000{
        display: none;
    }
    .ask-img111{
        display: none;
    }
}

.wrapper{
    flex-grow: 1;
}
.open{
    display: flex !important;
}
nav a{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: center;
}
.burger{
    display: none;
    position: relative;
    z-index: 50;
    align-items: center;
    justify-content: flex-end;
    width: 30px;
    height: 18px;
}

.burger span{
    height: 2px;
    width: 100%;
    transform: scale(1);
    background-color: #000000;
}

.burger::before, .burger::after{
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #000000;
    transition: all 0.3s ease 0s;
}
.burger::before { 
    top: 0 
}
.burger::after { 
    bottom: 0 
}
.burger.active span { 
    transform: scale(0) 
}

.burger.active::before{
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%);
}

.burger.active::after{
    bottom: 50%;
    transform: rotate(45deg) translate(0, 50%);
}

@media (max-width: 580px) and (min-width: 310px){
    .burger { display: flex;
        justify-content: flex-end; 
    }
    nav{
        display: none;
        justify-content: start;
        flex-direction: column;
        position: fixed;
        height: 100%;
        width: 100%;
        top: 0; bottom: 0; left: 0; right: 0;
        z-index: 50;
        overflow-y: auto;
        padding: 50px 40px;
        background-color: rgb(255, 255, 255);
        animation: burgerAnimation 0.4s;
    }
    nav a{
        flex-direction: column;
        padding-bottom: 30px;
    }
    .fixed-container{
        max-width: 90%;
        margin: 0 auto;
    }
    .signup{
        color: #f9f9f9;
        background-color: #6C5FBC;
        width: 86px;
        height: 45px;
        border: none;
        font-size: 12px;
        border-radius: 13px;
        opacity: 0;
        position: absolute;
    }
    .login{
        font-weight: bold;
        font-size: 13px;
        margin-right: 35px;
        opacity: 0;
        position: absolute;
    }
    .head-box{
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
    }
    
    .button-box{
        display: none;
    }
    .fixed-container{
        max-width: 90%;
        margin: 0 auto;
    }
    .main-title{
        font-size: 20px;
    }
    .rest-time{
        font-size: 15px;
    }
    .text-box{
        flex-direction: column;
        align-items: flex-start;
    }
    .main-text-img000{
        display: block;
        width: 33px;
        height: 33px;
        margin-left: 140px;
    }
    .main-text-img1{
        display: none;
    }
    .rest-box1{
        flex-direction: row;
    }
    .rest-title{
        font-family: 'Poppins';
        font-size: 16px;
        margin-left: 10px;
        color: #000;
    }
    .rest-box2 p{
        font-size: 11px;
    }
    .rest-box p{
        font-size: 16px;
    }
    #dish-none{
        display: none;
    }
    .dish{
        min-width: 146px;
        width: 19%;
        margin-top: 27px;
        background-color: #fff;
        box-shadow: 18px 49px 24px 24px rgba(0, 0, 0, 0.06);
        border-radius: 30px;
    }
    .dish1{
        min-width: 146px;
        margin-right: 0px;
    }
    .dish-box1{
        justify-content: space-between;
    }
    #add-min1{
        width: 29px;
        height: 27px;
    }
    #add-min2{
        width: 29px;
        height: 27px;
    }
    #add-min3{
        width: 29px;
        height: 27px;
    }
    #add-min4{
        width: 29px;
        height: 27px;
    }
    #add-min5{
        width: 29px;
        height: 27px;
    }
    #add-min6{
        width: 29px;
        height: 27px;
    }
    #add-min7{
        width: 29px;
        height: 27px;
    }
    
    .healthy{
        margin-left: 14px;
        width: 38px;
        height: 14px;
        background-color: #F7EDD0;
        border-radius: 5px;
        color: #DAA31A;
        font-size: 7px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
    }
    .trending{
        margin-left: 10px;
        width: 38px;
        height: 14px;
        background-color: #F7C5BA;
        border-radius: 5px;
        color: #FB471D;
        font-size: 7px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
    }
    .supreme{
        margin-left: 10px;
        width: 38px;
        height: 14px;
        background-color: #33ac646d;
        border-radius: 5px;
        color: #309D5B;
        font-size: 7px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
    }
    .ask-title{
        font-size: 16px;
    }
    .ask-img111{
        width: 29px;
        height: 28px;
        display: block;
    }
    .ask-img1{
        display: none;
    }
    .ask-tt{
        color: #979797;
        font-size: 13px;
        margin-top: 13px;
        width: 75%;
        text-align: justify;
        display: block;
    }
    h2{
        width: 80%;
        font-size: 28px;
    }
    footer{
        background-color: #EAEAEA;
        display: flex; 
        flex-direction: column;
    }
    .nav-box{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 50px;
        padding-bottom: 20px;
        flex-wrap: wrap;
    }
    .nav{
        display: flex;
        width: 100%;
        justify-content: space-between;
        order: 2;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column-reverse;
        font-size: 14px;
        margin-top: 30px;
        text-transform: uppercase;
    }
    .foot-link{
        text-decoration: none;
        color: #999999;
        font-size: 13px;
        margin-top: 20px;
    }
    .social-box{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 40px;
        padding-bottom: 60px;
        flex-wrap: wrap;
    }
    .copy{
        font-size: 12px;
        color: #999999;
        order: 3;
        width: 100%;
        margin-top: 20px;text-align: center;
    }
    .social{
        display: flex;
        justify-content: center;
        width: 13%;
        order: 1;
        margin: 0 auto;
    }
    .social-icon{
        margin-left: 20px;
    }


}