@font-face {
    font-family: 'Inter';
    src: url(../fonts/Inter-Regular.ttf);
}
@font-face {
    font-family: 'Poppins';
    src: url(../fonts/Poppins-SemiBold.ttf);
}
@font-face {
    font-family: 'Manrope-Bold';
    src: url(../fonts/Manrope-Bold.ttf);
}
@font-face {
    font-family: 'Manrope';
    src: url(../fonts/Inter-Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.fixed-container{
    max-width: 80%;
    margin: 0 auto;
}
body{
    color: #676767;
    background-color: #f9f9f9;
    font-family: 'Inter';
}
span{
    color: #5C4EAE;
}
/*-------------------------*/
header{
    height: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.head-box{
    display: flex;
    justify-content: space-between;
    width: 40%;
}
.head-link{
    color: #606060;
    text-decoration: none;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
}

/* ---------------- */
.burger-m{
    display: none;
}
/* ---------------- */
.login{
    font-weight: bold;
    font-size: 18px;
    margin-right: 35px;
}
.signup{
    color: #f9f9f9;
    background-color: #6C5FBC;
    width: 100px;
    height: 52px;
    border: none;
    font-size: 18px;
    border-radius: 12px;
}
.button-box{
    display: flex;
    align-items: center;
}
.head-hr{
    height: 1px;
    background-color: #CBCBCB;
}
/*--------------------------*/
/*-------------------------------------*/
.main-box{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
.main{
    width: 60%;
    display: flex;
    flex-direction: column;
}
.form-box {
    background-image: url(../img/Menu/Group1.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 35px;
}
.form-container {
    display: flex;
    justify-content: space-between;
    padding: 30px;
}
.form-title {
    font-size: 90px;
    color: #F7F8FA;
    font-family: 'Poppins';
    font-weight: 800;
}
.input {
    font-size: 120px;
    color: #F7F8FA;
    font-family: 'Poppins';
    font-weight: 800;
    margin-top: -50px;
    color: #7C6FCD;
    position: absolute;
}
.form-image {
    position: relative;
}
.slider-img{
    margin: 0 auto;
    padding: 35px;
}
.search-box{
    width: 100%;
    height: 75px;
    background-color: #EDEDED;
    color: #AAABBA;
    border-radius: 20px;
    padding: 15px;
    display: flex;
    align-items: center;
    margin-top: 40px;
}
.search-title{
    font-size: 18px;
    padding-left: 10px;
}
.choice-box{
    display: flex;
    margin-top: 30px;
}
.choice{
    width: 50%;
    border: 2px solid #6C5FBC;
    color: #6C5FBC;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    border-top-left-radius: 15px;
    border-end-start-radius: 15px;
}
.choice2{
    width: 50%;
    background-color: #6C5FBC;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    border-top-right-radius: 15px;
    border-end-end-radius: 15px;
}
.category-box{
    width: 30%;
    background-color: #fff;
    box-shadow: 18px 49px 24px 24px rgba(0, 0, 0, 0.06);
    padding: 20px;
    border-radius: 15px;
}
.category-card-box{
    display: flex;
    justify-content: space-between;
}
.category-title{
    color: #323142;
    font-family: 'Poppins';
    font-size: 25px;
    padding-top: 15px;
}
.sort-box{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
}
.sort-title{
    font-size: 16px;
    color: #ACADB9;
    font-family: 'Poppins';  
}
.sort-text{
    font-size: 16px;
    color: #6C5FBC;
    font-family: 'Poppins';
}
.price-img{
    width: 100%;
    margin-top: 20px;
}
.category-button{
    margin-top: 20px;
    width: 100%;
    height: 70px;
    color: #FFF3EB;
    background-color: #6C5FBC;
    border: none;
    border-radius: 20px;
    font-family: 'Poppins';  
    font-size: 15px;
}
/*----------------------*/
.title-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.view{
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: end;
    margin-top: 80px;
    margin-bottom: 80px;
}
h1{
    font-size: 35px;
    color: #323142;
    font-family: 'Poppins';
}
.restaurant-box{
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}
.restaurant{
    background-color: #fff;
    width: 32%;
    border-radius: 35px;
    box-shadow: 18px 49px 24px 24px rgba(0, 0, 0, 0.06);
}
.rest-img{
    width: 100%;
}
.healthy{
    margin-left: 20px;
    width: 65px;
    height: 25px;
    background-color: #F7EDD0;
    border-radius: 5px;
    color: #DAA31A;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
.trending{
    margin-left: 20px;
    width: 65px;
    height: 25px;
    background-color: #F7C5BA;
    border-radius: 5px;
    color: #FB471D;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
.supreme{
    margin-left: 20px;
    width: 65px;
    height: 25px;
    background-color: #33ac646d;
    border-radius: 5px;
    color: #309D5B;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
.rest-title{
    font-family: 'Poppins';
    font-size: 25px;
    margin-left: 20px;
    color: #000;
}
.rest-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 20px 20px;
}
.rest-box1{
    display: flex;
    align-items: center;
}
/*------------Блюда------------*/
.dish-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 70px;
}
.dish{
    width: 18%;
    background-color: #fff;
    box-shadow: 18px 49px 24px 24px rgba(0, 0, 0, 0.06);
    border-radius: 30px;
}
.dish-img{
    width: 100%;
}
.rest-box2{
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-bottom: 10px;
}
.price{
    color: #323142;
    font-size: 25px;
    font-weight: bolder;
}
.span-price{
    color: #8E97A6;
    font-size: 18px;
    font-weight: normal;
}
.heart-img{
    padding-top: 20px;
}
/*------------Ask-box------------*/
h2{
    font-family: 'Poppins';
    font-size: 45px;
    color: #323142;
    width: 30%;
    margin: 0 auto;
    text-align: center;
    margin-top: 160px;
    margin-bottom: 60px;
}
.ask-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ask-title{
    font-size: 23px;
    font-family: 'Poppins';
    color: #323142;
}
.ask-hr{
    margin-top: 40px;
    margin-bottom: 40px;
    height: 1px;
    background-color: #ADADAD;
}
/*------Footer--------*/
footer{
    background-color: #EAEAEA;
    margin-top: 90px;
}
.nav-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 20px;
}
.nav{
    display: flex;
    width: 30%;
    justify-content: space-between;
}
.foot-link{
    text-decoration: none;
    color: #999999;
    font-size: 13px;
}
.social-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 60px;
}
.copy{
    font-size: 12px;
    color: #999999;
}
.social{
    display: flex;
    justify-content: space-between;
    width: 15%;
}

@media (max-width: 1024px) and (min-width:580px) {
    .fixed-container{
        max-width: 90%;
        margin: 0 auto;
    }
    .burger-m{
        display: none;
    }
    .signup{
        color: #f9f9f9;
        background-color: #6C5FBC;
        width: 86px;
        height: 45px;
        border: none;
        font-size: 12px;
        border-radius: 13px;
    }
    .login{
        font-weight: bold;
        font-size: 13px;
        margin-right: 35px;
    }
    .head-box{
        display: flex;
        justify-content: space-between;
        width: 60%;
    }
    /*--------------------------*/
    h2{
        font-family: 'Poppins';
        font-size: 45px;
        color: #323142;
        width: 50%;
        margin: 0 auto;
        text-align: center;
        margin-top: 60px;
        margin-bottom: 60px;
    }
    .form-box {
        background-image: url(../img/Menu/Group1.png);
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 35px;
        height: 178px;
    }
    .form-title {
        font-size: 45px;
        color: #F7F8FA;
        font-family: 'Poppins';
        font-weight: 800;
        width: 100%;
    }
    .input {
        font-size: 60px;
        color: #F7F8FA;
        font-family: 'Poppins';
        font-weight: 800;
        margin-top: -30px;
        color: #7C6FCD;
        position: absolute;
    }
    .form-image {
        position: relative;
        height: 180px;
        width: 180px;
    }
    .search-box{
        width: 100%;
        height: 55px;
        background-color: #EDEDED;
        color: #AAABBA;
        border-radius: 20px;
        padding: 15px;
        display: flex;
        font-size: 14px;
        align-items: center;
        margin-top: 40px;
    }
    .choice{
        width: 50%;
        border: 2px solid #6C5FBC;
        color: #6C5FBC;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 55px;
        border-top-left-radius: 15px;
        border-end-start-radius: 15px;
    }
    .choice2{
        width: 50%;
        background-color: #6C5FBC;
        color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 55px;
        border-top-right-radius: 15px;
        border-end-end-radius: 15px;
    }
    .category-title{
        color: #323142;
        font-family: 'Poppins';
        font-size: 15px;
        padding-top: 15px;
    }
    .category-card-box{
        display: flex;
        justify-content: space-between;
    }
    .sort-title{
        font-size: 10px;
        color: #ACADB9;
        font-family: 'Poppins';  
    }
    .sort-text{
        font-size: 10px;
        color: #6C5FBC;
        font-family: 'Poppins';
    }
    .category-button{
        margin-top: 20px;
        width: 100%;
        height: 40px;
        color: #FFF3EB;
        background-color: #6C5FBC;
        border: none;
        border-radius: 10px;
        font-family: 'Poppins';  
        font-size: 15px;
    }
    .category-img{
        width: 25%;
    }
    /*----------------------*/
    .rest-title{
        font-family: 'Poppins';
        font-size: 16px;
        margin-left: 10px;
        color: #000;
    }
    .healthy{
        margin-left: 20px;
        width: 52px;
        height: 17px;
        background-color: #F7EDD0;
        border-radius: 5px;
        color: #DAA31A;
        font-size: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
    }
    .trending{
        margin-left: 20px;
        width: 52px;
        height: 17px;
        background-color: #F7C5BA;
        border-radius: 5px;
        color: #FB471D;
        font-size: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
    }
    .supreme{
        margin-left: 20px;
        width: 52px;
        height: 17px;
        background-color: #33ac646d;
        border-radius: 5px;
        color: #309D5B;
        font-size: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
    }
    .dish{
        width: 19%;
        background-color: #fff;
        box-shadow: 18px 49px 24px 24px rgba(0, 0, 0, 0.06);
        border-radius: 30px;
    }
    .rest-box2{
        display: flex;
        align-items: center;
        padding-left: 10px;
        padding-bottom: 10px;
    }
    .price{
        color: #323142;
        font-size: 18px;
        font-weight: bolder;
    }
    .span-price{
        color: #8E97A6;
        font-size: 13px;
        font-weight: normal;
    }
    .plus-img{
        width: 30px;
        height: 30px;
    }
}
.wrapper{
    flex-grow: 1;
}
.open{
    display: flex !important;
}
nav a{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: center;
}
.burger{
    display: none;
    position: relative;
    z-index: 50;
    align-items: center;
    justify-content: flex-end;
    width: 30px;
    height: 18px;
}

.burger span{
    height: 2px;
    width: 100%;
    transform: scale(1);
    background-color: #000000;
}

.burger::before, .burger::after{
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #000000;
    transition: all 0.3s ease 0s;
}
.burger::before { 
    top: 0 
}
.burger::after { 
    bottom: 0 
}
.burger.active span { 
    transform: scale(0) 
}

.burger.active::before{
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%);
}

.burger.active::after{
    bottom: 50%;
    transform: rotate(45deg) translate(0, 50%);
}

@media (max-width: 580px) and (min-width: 310px){
    .burger { display: flex;
        justify-content: flex-end; 
    }
    nav{
        display: none;
        justify-content: start;
        flex-direction: column;
        position: fixed;
        height: 100%;
        width: 100%;
        top: 0; bottom: 0; left: 0; right: 0;
        z-index: 50;
        overflow-y: auto;
        padding: 50px 40px;
        background-color: rgb(255, 255, 255);
        animation: burgerAnimation 0.4s;
    }
    nav a{
        flex-direction: column;
        padding-bottom: 30px;
    }
    .fixed-container{
        max-width: 90%;
        margin: 0 auto;
    }
    .signup{
        color: #f9f9f9;
        background-color: #6C5FBC;
        width: 86px;
        height: 45px;
        border: none;
        font-size: 12px;
        border-radius: 13px;
        opacity: 0;
        position: absolute;
    }
    .login{
        font-weight: bold;
        font-size: 13px;
        margin-right: 35px;
        opacity: 0;
        position: absolute;
    }
    .head-box{
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
    }
    .main-box{
        flex-direction: column;
    }
    .main{
        width: 100%;
        margin-bottom: 50px;
    }
    .form-box{
        height: 140px;
    }
    .form-title{
        font-size: 45px;
    }
    .input{
        font-size: 60px;
        margin-top: -40px;
    }
    .form-container{
        height: 200px;
        padding: 20px;
    }
    .restaurant-box{
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }
    .restaurant{
        min-width: 90%;
    }
    .category-card-box{
        justify-content: center;
    }
    .category-box{
        width: 100%;
    }
    .view{
        display: none;
    }
    .title-box {
        justify-content: center;
        margin: 80px 0 50px 0;
        align-items: center;
        text-align: center;
    }

    
/* ------------------------ */
.rest-time{
    font-size: 15px;
}
.text-box{
    flex-direction: column;
    align-items: flex-start;
}
.main-text-img000{
    display: block;
    width: 33px;
    height: 33px;
    margin-left: 140px;
}
.main-text-img1{
    display: none;
}
.rest-box1{
    flex-direction: row;
}
.rest-title{
    font-family: 'Poppins';
    font-size: 16px;
    margin-left: 10px;
    color: #000;
}
.rest-box2 p{
    font-size: 11px;
}
.rest-box p{
    font-size: 16px;
}
#dish-none{
    display: none;
}
.dish{
    min-width: 170px;
    width: 19%;
    margin-top: 27px;
    background-color: #fff;
    box-shadow: 18px 49px 24px 24px rgba(0, 0, 0, 0.06);
    border-radius: 30px;
}
.dish1{
    min-width: 146px;
    margin-right: 0px;
}
.dish-box1{
    justify-content: space-between;
}
.ask-title{
    font-size: 16px;
}
.ask-img111{
    width: 29px;
    height: 28px;
    display: block;
}
.ask-img1{
    display: none;
}
.ask-tt{
    color: #979797;
    font-size: 13px;
    margin-top: 13px;
    width: 75%;
    text-align: justify;
    display: block;
}
h2{
    width: 80%;
    font-size: 28px;
}

footer{
    background-color: #EAEAEA;
    display: flex; 
    flex-direction: column;
}
.nav-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 20px;
    flex-wrap: wrap;
}
.nav{
    display: flex;
    width: 100%;
    justify-content: space-between;
    order: 2;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column-reverse;
    font-size: 14px;
    margin-top: 30px;
    text-transform: uppercase;
}
.foot-link{
    text-decoration: none;
    color: #999999;
    font-size: 13px;
    margin-top: 20px;
}
.social-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 60px;
    flex-wrap: wrap;
}
.copy{
    font-size: 12px;
    color: #999999;
    order: 3;
    width: 100%;
    margin-top: 20px;text-align: center;
}
.social{
    display: flex;
    justify-content: center;
    width: 13%;
    order: 1;
    margin: 0 auto;
}
.social-icon{
    margin-left: 20px;
}
}
@keyframes burgerAnimation {
    from {opacity: 0}
    to {opacity: 1}
}

